.idea
.vscode
*.out
.DS_Store

__pycache__

/cython_ydb_extension/build
/cython_ydb_extension/*.so
/cython_ydb_extension/*.html

/c_client/client_go_dynamic
/c_client/client_go_static
/c_client/client_rust_dynamic

/go/_obj
/go_for_python/_obj
/rust_ydb_client/target/

/debug.txt

